.topbox {
    background: #323738;
    min-height: 6rem;
    /* width: 100%; */
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 1rem;
    position: relative;
  }
  
  .image-box {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    left: 1rem;
    top: 0.5rem;
  }
  
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .top-right {
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .top-image-box img {
    width: 50px;
    height: auto;
    margin-bottom: 0.2rem;
  }
  
  .top-right-bottom {
    font-size: 1rem;
  }
  
  .exp-box {
    position: relative;
    top: -30px;
    display: flex;
    gap:24px;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin: 0 7%; */
    border-radius: 10px;
   
  }
  
  .exp {
    background: #3a4142;
    text-align: center;
    width: 43%;
    padding: 1px; /* Add padding for internal spacing */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Subtle shadow for a lifted effect */
  }
  
  .exp-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #B79C8B;
    padding: 0.7rem;
  }
  
  .exp-number {
    color: #FED358; /* Green color for the number */
    font-size: 14px; /* Slightly larger for emphasis */
    margin-bottom: 0; /* Ensure no space below the number */
  }
  
  .exp-text {
    color: #B79C8B; /* Lighter color for the text */
    font-size: 14px; /* Adjust the size for better readability */
    margin-top: 0; /* Remove spacing between the number and text */
  }
  
  /* .notice-mid {
    margin-top: 10%;
  } */
  
  .n-box {
    color: #B79C8B;
    border: 1px solid #454037;
    margin: 10px auto;
    width: 87%;
    padding: 12px;
    font-size: 0.7rem;
    border-radius: 8px;
    text-align: center;
    background: #232626;
  }
  .bottom-box{
    background:#232626 ;
  }