.container {
  /* margin-top: 20px; */
    margin: 0 auto;
    width: 100%;
    max-width: 380px;
  }
  
  .stagebox {
    margin: 0 auto;
    display: flex;
    gap: 2.5%; /* Use percentage for gap */
    background-image: url('/assets/stage/DailyProfitRankStage.svg');
    width: 92%;
    padding-top: 50%; 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
  }
  
  .winner {
    position: absolute;
    bottom: 10%;
    width: 30%; /* Adjust width to fit three winners */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .winner:nth-child(1) { left: 35%; bottom: 35%; } /* First place */
  .winner:nth-child(2) { left: 0%; bottom: 35%; }  /* Second place */
  .winner:nth-child(3) { right: 0%; bottom: 35%; } /* Third place */
  
  .crownimg {
    position: relative;
    top: 20px;
    left: 40%;
    transform: translateX(-100%);
    width: 40px;
    height: 50px;
    z-index: 0;
  }
  
  .crownimg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  /* Adjust crown colors */
  .winner:nth-child(1) .crownimg img { filter: brightness(1.2) saturate(1.2); } /* Gold */
  .winner:nth-child(2) .crownimg img { filter: brightness(0.9) saturate(0.7); } /* Silver */
  .winner:nth-child(3) .crownimg img { filter: brightness(1.1) saturate(1.5); } /* Bronze */
  
  .positionimg{
    margin: -5px auto;
    width: 80px;
    height: 30px;
  }
  
  .positionimg img{
    height: 100%;
  width: 100%;
  object-fit: contain;
  }
  
  .idimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    /* margin: -11px auto; */
    /* border: 2px solid #fff6de; */
  }
  .idimg2 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    margin: -32.5px auto;
    /* border: 2px solid #a0b5d2; */
  }
  .idimg3 {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    overflow: hidden;
    margin: -31.5px auto;
    /* border: 2px solid #ff9051; */
  }
  .idimg img,.idimg2 img,.idimg3 img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .name {
    margin: 25% 0 2% 0;
    color: #FFDE78 !important;
    font-size: 12.8px;
    /* font-weight: bold; */
    text-align: center;
  }
  .name2 {
    margin: 21% 0 2% 0;
    color: #FFDE78 !important;
    font-size: 12.8px;
    /* font-weight: bold; */
    text-align: center;
  }
  .name3 {
    margin: 21% 0 2% 0;
    color: #FF772A !important;
    font-size: 12.8px;
    /* font-weight: bold; */
    text-align: center;
  }
  
  .price{
    /* padding: 7px 10px; */
    color: white;
    font-size: 12.8px;
    border-radius: 9rem;
    margin-top: 4px;
    font-weight: medium;
  }
   /* .win {
    padding: 7px 10px;
    color: white;
    font-size: 12.8px;
    border-radius: 9rem;
    margin-top: 4px;
    font-weight: medium;
     } */
  
  .runnerup{
    width: 100%;
    /* margin-top: -15px; */
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background: #241e22;
    border-radius: 10px;
  }
  
  .fourfive{
    /* background:#011341; */
    width: calc(100% - 30px);
    height: 50px;
    display: flex;
    align-items: center;
    padding: 2px 0px;
    margin: 7px auto;
    justify-content: space-between;
    /* border-radius: 5px; */
  }
  .fourfive:not(:first-of-type) {
  border-top: 1px solid #3D363A;
}
  .position{
    font-size: 12.8px;
    /* font-weight: 600; */
    gap: 30px;
    /* padding: 0px 10px; */
    /* margin-left: -15px; */
    color: #FED358;
    /* width: 30px; */
    text-align: center;
    /* border-right: 2px solid rgba(128, 128, 128, 0.527); */
    
  }
  .img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .runner-up-name {
    color: #FDE4BC;
    font-size: 0.8rem;
    flex-grow: 1;
    text-align: left;
  }
  
  .win {
    /* padding: 7px 8px; */
    width: 110px;
    color: #FED358;
    font-size: 12px;
    border-radius: 20px;
    /* background: linear-gradient(180deg, #7afec3 , #02afb6 ); */
    text-align: right;
    min-width: 90px;
  }
  win2{
    /* margin-right: 10px; */
  }
  
  @media screen and (max-width: 480px) {
    .fourfive {
      height: 40px;
      padding: 3px 0px;
    }
    
    .position {
      font-size: 1rem;
      width: 2px;
    }
    
    .img {
      width: 30px;
      height: 30px;
    }
    
    .runner-up-name {
      font-size: 0.8rem;
    }
    
    .win {
      font-size: 0.7rem;
      min-width: 100px;
    }
  }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 100%;
    }
    
    .idimg, .idimg2 ,.idimg3 {
      width: 55px;
      height: 55px;
      left: 50%;
    }
    
    .crownimg {
      width: 30px;
      height: 30px;
      top: 10px;
    }
    
    .name,.name2,.name3, .price, .win {
      font-size: 0.7em;
    }
    
    .fourfive {
      font-size: 1rem;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 768px) {
    .container {
      max-width: 95%;
    }
  }
  
  @media screen and (min-width: 769px) {
    .container {
      max-width: 380px;
    }
  }