/* General styles for the loading page */
.loading-page {
  background-color: gray;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 360px;
  height: 100vh;
  background-image: url("assets/logo/bg.webp");
  background-size: contain;
  color: white;
  text-align: center;
  padding: 0 16px;
  box-sizing: border-box;
}

.loading-main-image {
  width: 100%;
  max-width: 360px;
  margin-top: 110px;
}

.loading-logo-image {
  width: 200px;
  max-width: 60%; 
}

@media screen and (max-width: 360px) {
  .loading-main-image {
    margin-top: 100px; 
  }
  .loading-logo-image {
    width: 180px; 
  }
}
