.fullbox {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .outerbox {
    display: flex;
    width: 100%;
    height: 105px;
    max-width: 450px;
    background: #00b977;
    padding: 9px 7px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }
  
  .diebox {
    margin: 0 auto;
    width: 98%;
    height: 97%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(rgb(0, 58, 0), green, rgb(0, 58, 0)); */
    background: #003c26;
    border-radius: 10px;
  }
  
  .dice-container {
    width: 96%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    gap: 2%;
  }
  
  .dice-wrapper {
    width: 100%;
    height: 100%;
    background:radial-gradient(#9c9b9b, #414040);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .diceImg{
    width: 70px;
  }
  .dice-image {
    /* margin: 11px; */
    width: 100%; /* Adjust the width as needed */
    /* height: 77%; */
    transition: transform 0.2s ease-in-out; /* Smooth transition when changing the dice face */
  }
  
  button {
    margin-top: 30px;
    margin-left: 42%;
  }
  
  #leftbox {
    width: 2px;
    height: 29px;
    background: rgb(0, 161, 62);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  #rightbox {
    width: 2px;
    height: 29px;
    background: rgb(0, 161, 62);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  